@model Yummi.Backend.Models.Categoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h2>Detalhes da Categoria</h2>

<div>
  <h3>Nome:</h3>
  <p>@Model.Name</p>
</div>

<!-- Adicione mais informações da categoria conforme necessário -->
