@model Yummi.Backend.Dtos.Users.UserCreateDto
@{
    ViewData["Title"] = "Criar Novo Usuário";
}

<h2>Criar Novo Usuário</h2>

<form asp-action="CreateUser" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Perfil"></label>
        <select asp-for="Perfil" class="form-control">
            <option value="ADMINISTRADOR">Administrador</option>
            <option value="CLIENTE">Cliente</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Criar Usuário</button>
</form>