body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000; /* Fundo preto */
    text-align: center;
    padding: 50px 0;
}

.header-content {
    color: #fff; /* Texto branco */
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.admin-view {
    text-align: center;
    margin-top: 20px;
}

.order-list-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura ocupa a tela inteira */
}

.order-list {
    background-color: #fff;
    border: 2px solid #ccc; /* Borda sólida */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    width: 80%;
    text-align: left;
    border-radius: 15px; /* Adiciona bordas arredondadas */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

.order-list h2 {
    color: #d2232a;
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    padding-bottom: 10px; /* Adiciona preenchimento abaixo do título */
    border-bottom: 2px solid #ccc; /* Adiciona uma linha divisória */
}

.order {
    background-color: #f9f9f9; /* Cor de fundo */
    border: 2px solid #ccc;
    border-radius: 15px; /* Adiciona bordas arredondadas */
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

.order-details {
    display: flex;
    flex-direction: column; /* Coloca os detalhes em coluna */
    margin-top: 10px; /* Adiciona espaço acima dos detalhes */
    font-size: 16px; /* Reduz um pouco o tamanho da fonte */
}

.order-button {
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    font-weight: bold; /* Torna o texto dos botões negrito */
}

.order-button.prepare-order {
    background-color: #0073e6; /* Azul (Preparar Pedido) */
    color: #fff;
}

.order-button.prepare-order:hover {
    background-color: #005bbf; /* Azul mais escuro ao passar o mouse */
}

.order-button.production-order {
    background-color: #ff7f00; /* Laranja (Em Produção) */
    color: #fff;
}

.order-button.production-order[disabled] {
    background-color: #ff7f00; /* Laranja (Em Produção) */
    color: #fff;
    cursor: not-allowed;
}

.order-button.finish-order {
    background-color: #0f0; /* Verde (Pedido Finalizado) */
    color: #fff;
}

.order-button.finish-order[disabled] {
    background-color: #0f0; /* Verde (Pedido Finalizado) */
    color: #fff;
    cursor: not-allowed;
}